/* Wrapper div to hold all content */
.content-wrapper {}

/* Button Container for centering button horizontally */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 20px;
}

/* Button styling */
.button-style {
    background-color: #ff5722;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
}

.button-style:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

.button-style:active {
    background-color: #d84315;
    transform: scale(0.95);
}